<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>

<form class="example-form">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Address</mat-label>
    <input type="text" placeholder="Search" aria-label="Address" matInput [formControl]="myControlx"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.Address" (click)="filterValue(option)">
        {{option.Address}}, {{option.Suburb}}, {{option.Postcode}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <!-- <mat-form-field appearance="fill" class="full-width filter-box">
    <mat-label id="release-filter-master-account">Master Account</mat-label>
    <input matInput type="text" apperance="fill" id="search" [formControl]="myControl"
      (input)="searchAccounts(myControl.value)" [matAutocomplete]="auto" (click)="$event.stopPropagation();">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of result" [value]="option.AID" (click)="filterValue(option)">
        {{option.Address}}, {{option.Suburb}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> -->
</form>

<mat-card class="example-card" *ngIf="details">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{details.address[0].Address}}, {{details.address[0].Suburb}}</mat-card-title>
    <mat-card-subtitle>{{details.address[0].Postcode}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>

    <section>
      <p>
        SN: {{details.SN}}
      </p>
      <p>
        Sold Date: {{details.Sold_Date}}
      </p>
      <p>
        Directly Sold: {{details.Directly_Sold}}
      </p>
      <p>
        Active: {{details.Active}}
      </p>
    </section>
    <mat-divider></mat-divider>
    <section>
      <p>
        Brand: {{details.pianos[0].Brand}}
      </p>
      <p>
        Model: {{details.pianos[0].Model}}
      </p>
      <p>
        Type: {{details.pianos[0].Type}}
      </p>
    </section>


  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>EDIT</button>
    <button mat-raised-button color="primary">DELETE</button>
  </mat-card-actions>
</mat-card>